                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          @model IEnumerable<FutbolManagerWeb.Models.Contrato>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
 <th>
                Jugador
 </th>
 <th>
                @Html.DisplayNameFor(model => model.Jugador)
            </th>
            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha de Fin
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoCuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frecuencia)
            </th>
            <th>
                Estado
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
 <tr>
            <td>
 @Html.DisplayFor(modelItem => item.Jugador.NombreCompleto)
 </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frecuencia)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Estado)
 </td>
           <td>
                <a asp-action="Edit" asp-route-id="@item.ContratoId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ContratoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

